body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    display: inline-block;
}

input {
    margin: 8px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 20px;
    background: #4CAF50;
    color: white;
    border: none;
}

table {
    margin: auto;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}
